.sectiontitle {
  font-family: sans-serif;
  font-size: 13px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.status-container {
  display: flex;
  flex-direction: column;
}

.status-item {
  align-items: center;
  padding: 8px 15px;
}



