.tabs-container {
  display: flex;
  padding: 10px 25px;
}

.tab {
  margin-right: 30px;
  padding-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.tab:hover {
  color: #4CAF50;
}

.tab.active {
  color: #4CAF50;
  font-weight: bold;
}

.tab.active .underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #4CAF50;
}
