.value-display-container {
  margin-top: 10px;
  
  .title {
    color: rgb(185, 185, 185);
  }

  .value-container {
    display: flex;
    align-items: baseline;
    gap: 4px;
  }

  .value {
    font-size: 20px;
    font-weight: bold;
  }

  .unit {
    font-size: 15px;
  }
}
