.value-display-container {
  .title {
    color: rgb(185, 185, 185);
  }

  .value-container {
    display: flex;
    align-items: baseline;
    gap: 4px;
  }

  .value {
    font-size: 23px;
  }

  .unit {
    font-size: 15px;
  }
}
