.app-container {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    width: 100%;
    height: 100%;
}

.dashboard-table-1 {
    width: 100%;
}

.container-production-deshboard {
    display: flex;
    margin-top: 15px;
}

.production-section {
    width: 75%;
    margin-right: 15px;
}

.deshboard-table-info-section {
    width: 25%;
}

.deshboard_table-info-2 {
    margin-top: 15px;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    border-bottom: 1px solid gray;
}